@use 'node_modules/wt-frontend/build/global/theme' with (
    $primary-color: #ffc800,
    $background-color: rgb(64, 69, 78),//#d9d6cc,
    $navbar-background-color: #353a44,//rgb(64, 69, 78),
    $sidebar-background-color: #2b2e36,//#353a44,
    $text-color: #e9edf0,
    $modal-background: rgb(64, 69, 78),
    $modal-section-padding: 24px,
    $modal-radius: 4px,
    $modal-border: 1px solid rgb(87, 93, 105),
    $modal-button-color: rgba(255,255,255, 0.7),
    $modal-button-hover: #e9edf0,
    $button-text-color: black,
    // other variable changes here
);

@use 'node_modules/wt-frontend/build/global/wolfie' as *;
@use 'node_modules/wt-frontend/build/global/components';

:root {
    --warm-white: #f9f7f1;
    --warm-white-transparent: #f9f7f111;
    --warmer-white: #f9f7dd;
    --blue-slate: #2c3437;
    --light-green: #99cc7d;
    --lighter-green: #bdfc9b;
    --light-orange: #f5bc75;
    --light-blue: #8ed4f8;
    --light-purple: #dbbdf9;
    --light-pink: #fbb4d2;
    --light-yellow: #e6db74;
    --light-beige: #d9d6cc;
    --light-gray: #e9edf0;
	--bright-orange: #fca234;
	--yellow-orange: #ffc800;
    --hover-light: rgba(255,255,255, 0.7);
    --deep-blue:  rgb(64, 69, 78);
    --deep-blue-lighter:  rgb(87, 93, 105);
    /* --deep-blue:  #282c34; */
    --button-transparent:  rgba(255,255,255, 0);
    --deep-blue-darker:  #353a44;
	/* --deep-blue-darker:  #282c34; */
	--blue-gray: #7e8084;
	--darkblue-gray: #2b2e36;
    --warm-black: #322d2d;
}

html, body {
    margin: 0;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $background-color;
}

.complete-task {
    color: var(--light-blue);
}

.incomplete-task {
    color: $primary-color;
}

.list-item-active {
    background-color: var(--deep-blue);
}

.list-item {
    cursor: pointer;
}

.list-item-edit-input, .table-input {
    font-size: 1.125rem !important;
}

.logo {
	color: $primary-color;
    font-size: 1.5rem;
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
    font-weight: bold;
} 

.modal-error {
    color: $primary-color;
    font-size: 14px;
}

.sidebar-header {
    border-bottom: 2px dotted;
}

.sidebar-header-name {
    font-size: 1.375rem;
    font-weight: bold;
    padding: 0;
    color: $text-color;
}

.table-entries {
    scrollbar-width: thin;
}

.table-entries::-webkit-scrollbar, .wsidebar::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: var(--darkblue-gray); 
}
.table-entries::-webkit-scrollbar-thumb .wsidebar::-webkit-scrollbar-thumb {
	width: 5px;
	height: 8px;
	background-color: var(--blue-gray); 
}

.table-entry {
    border-bottom: 1px solid;
    color: $text-color;
    transition: 0.1s ease-in-out;
    height: 46px;
}

.table-entry:hover {
    background-color: var(--warm-white-transparent);
}

.table-header-button {
    transition: 0.1s ease-in-out;
    color: var(--light-gray);
}

.table-header-button-disabled {
    transition: 0.1s ease-in-out;
    color: var(--warm-black);
}

.table-header {
    border-bottom: 2px $text-color dotted;
}

.table-header-section {
    font-size: 1.375rem;
    font-weight: bold;
    color: $text-color;
}

.table-header-section:hover {
    transition: 0.1s ease-in-out;
    cursor: pointer;
    background-color: var(--deep-blue-lighter);
}

.table-input {
    /*background-color: var(--deep-blue-lighter);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    margin: 0;
    padding:0;
    font-family: 'Roboto';
    font-size: 14px;
    color: var(--light-gray);*/
}

.table-select {
    font-family: Roboto;
    //font-size: 14px;
    font-size: 1.125rem;
    border: none;
    background-color: var(--deep-blue-lighter);
    color: var(--light-gray);
}

.modal-header {
    color: $text-color;
    font-size: 28px;
}

.navbar-options {
    color: $text-color;
    font-size: 16px;
}

.cancel-button {
    color: $text-color;
}

.undo-redo {
    color: $text-color;
}

.table-entry-buttons {
    color: $text-color;
}
